.dotContainer{

    //align-items: center;
    // position:'absolute';
    // right:10px;
    

.dot {
    height: 10px;
    width: 10px;
    background-color: #f07167;
    border-radius: 50%;
    display: inline-block;
    

    
  }

}