.church-icon {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.card{    box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;}

.yellow-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #FFC007;
}
