
.row{
  gap: 0;
}

.hero-content{

  width: 45%;

}
@media (max-width: 767px) {
  .hero-section {
    flex-direction: column;
  }
}

.gif-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.gif-image {
  max-width: 100%; /* Set the maximum width for responsiveness */
  height: auto;
}
p {
  font-size: 16px;
  margin-top: 10px;
}

.card-more-info {
  margin-top: 20px;
}