.container-fluid{
  background-image: url('../assets/sheep.jpg');
  background-size: cover;
  height: 100vh;
  overflow:hidden;

}

.modal-content{
  border:1px solid #feca57;
}
.searchInputGroup {
  width: 100%;
  height: 50px;
  text-align: center;


  z-index: 1;

  .input{
    border-radius:10px;
    height: 50px;
    box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;

  }

  .btn-custom{
    height: 50px;
    border:none;
    background-color: #43aa8b;
    color:white;
    font: weight 500px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }


  .btn-custom:hover{


    background-color: #43aa8b;

  }
}

.searchResults {
  width: 100%;
  height:100vh;
  border-radius: 8px;
  overflow: auto;

  z-index: 1;

  .profileCardBody{

    background-color:white;
    height: 155px;
    width: 160px;
    border-radius: 3px;

    text-align: center;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
  }

  .profileCardBody:hover{
    border: 2px solid #405059;
  }
}

.pillFilters{
  width: 100%;
  font-family: 'Roboto', sans-serif;

  .dropdown{
    .active_inactive_pill{
    border: none;
    outline: none;
    width: fit-content;
    height: 35px;
    border-radius: 10rem;
    background-color:lightgrey;
    }


  }

  .pill{

    border: none;
    outline: none;
    width: 100px;
    height: 35px;
    border-radius: 10rem;
    background-color:lightgrey;

  }

  .addPill{
    border: none;
    outline: none;
    width: fit-content;
    height: 35px;
    border-radius: 10rem;
    background-color:lightgrey;

  }

  .pill:hover{
    background-color: #feca57;
    font-weight: 500;
    outline: none;
  }

  .activePill{
    background-color: #feca57;
    outline: none;
    font-weight: 500;
  }

}




.offcanvas-start {
  transform: translateX(0);
  width: 100%;
  max-width: 250px;
}

.offcanvas-backdrop.show {
  opacity: 0.5;
}

.form-group-notes{
  width: 100% !important;
}

.form-group{
  width:40%;
}



.extendedBox {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 500px;
  height: 90%;
  z-index: 9999;
  padding: 20px;
  overflow: auto;
  border:2px solid #FFC007;




  input{
    margin-bottom: 10px;
    height: 35px;
    display: block;

  }


}

.confirmBox {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 500px;
  height: 90%;
  z-index: 9999;
  padding: 20px;
  overflow: auto;
  border:2px solid #FFC007;

  .text-head{
    color:#2d3436

  }
}

.closeButton {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

.extendedBoxContent {
  margin-top: 30px;


}

// Add this CSS code to your component's SCSS file

@media (max-width: 576px) {
  .modal-dialog {
    max-width: 90%;
    margin: 1rem auto;
  }

  .confirmBox{
    max-width: 90%;
    margin: 1rem auto;
  }

  .extendedBox {
    width: 90%;
    margin: 1rem auto;
  }

  
}

@media (min-width: 577px) and (max-width: 992px) {
  .modal-dialog {
    max-width: 70%;
    margin: 1rem auto;
  }

   .extendedBox {
    width: 70%;
    margin: 1rem auto;
  }

   .confirmBox{
    max-width: 70%;
    margin: 1rem auto;
  }


}


// Add this CSS code to your component's SCSS file

@media (max-width: 576px) {
  .extendedBoxContent form {
    display: flex;
    flex-direction: column;

    .form-group{
      width: 100%;
    }
  }

  .extendedBoxContent .form-group {
    margin-bottom: 1rem;
  }
}

@media (min-width: 577px) and (max-width: 992px) {
  .extendedBoxContent form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
  }
}
