// TithesPage.scss
// @import '~bootstrap/scss/functions';
// @import '~bootstrap/scss/variables';
// @import '~bootstrap/scss/mixins';

.tithes-page-container {
  padding: 40px;
  display: flex;
  align-items: center;
  flex-direction: column;

  h1 {
    font-size: 36px;
    font-weight: bold;
    color: #333;
  }
}

.tithes-form {
  //max-width: 400px;
  //margin: 0 auto
  width:70%;
  text-align:center;

  label {
    color: #666;
    font-weight: 600;
  }

  input[type='date'],
  input[type='text'],
  input[type='number'] {
    background-color: #f2f2f2;
    color: #333;
    border: none;
    padding: 12px;
    border-radius: 5px;
    margin-bottom: 16px;

    &:focus {
      outline: none;
      box-shadow: none;
      background-color: #e6e6e6;
    }
  }

  button[type='submit'] {
    width: 100%;
    padding: 12px;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;

    &:hover {
      background-color: blue;
      color:white;
    }
  }
}

.tithes-info {
  h2 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }

  .tithes-table {
    th {
      font-weight: bold;
      color: #333;
      background-color: #f2f2f2;
    }

    td {
      color: #666;
    }
  }
}
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 1rem;
}

.image {
  max-width: 100%;
  height: auto;
}
