

.topnav {

    overflow: hidden;
    background-color: #1d3557;
    width: 100%;
    //text-align: center;
    //color: white;
    height: 100%;
    position:fixed;

    .logo{
      color:white;
      font-size: 20px;
      font-weight: bold;
      width: 17%;
      text-align: center;
    }

    ul {

      list-style-type:none;
      margin:0;
      text-decoration: none;
      //color: black;

      li{
        margin-bottom:25px;
        background:none;
        //color:black;

      }

      li link {

        //display: block;
        //color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        border-bottom: 2px solid transparent;



      }
    }

}

  i {
    text-decoration: none;
    background:none;
    //border:0px solid red;
    width:50px;
    //height: 50px;
    //border-radius: 100%;
    display: flex;
    justify-content:space-evenly;
    font-size: 1rem;
    color:rgba(0, 0, 0, 0.959);
  }

  .topnav .nav .nav-item .nav-link {
    //border-bottom: 2px solid black;
    //background-color:#1d3557;
    height:40px;
    //border-radius:10px;
    color:white;

    i{
        color:white;
    }
  }



  .topnav .nav .nav-item .nav-link:hover {
    //border-bottom: 2px solid black;
    background-color:#43aa8b;
    height:40px;
    //border-radius:10px;
    color:white;

    i{
        color:white;
    }
  }


  .setActive {
    //border-bottom: 2px solid black;
    background-color:#43aa8be2;
    height:40px;
    //border-radius:10px;
    color:white;
    //opacity: 0.4;

    i{
        color:white;
    }
  }


  .nav-bottom-box-container{
    width:17%;

    .box{
      border-radius: 10px;
      background-color:#43aa8b;
    }
  }
